.date {
  font-size: 24px;
  font-weight: bold;
}

.dayName {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.weekend {
  color: #f03d2c;
  background-color: #eeeeee;
}

.disabled {
  color: #aaaaaa;
}

.sm {
  font-size: 12px;
}

.times {
  font-size: 18px;
}
