@font-face {
  font-family: 'Digital Clock';
  src: url('./fonts/clock/digital_dismay.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
